@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 605px;
  background: white;
  border-radius: 15px;
  padding: 30px 30px 25px;
}
.container header {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.container .content {
  margin: 35px 0;
}

.content .quoteArea {
  display: flex;
  justify-content: center;
}
.quoteArea i {
  font-size: 15px;
}

.quoteArea i:first-child {
  margin: 3px 10px 0 0;
}
.quoteArea i:last-child {
  display: flex;
  align-items: flex-end;
  margin: 0 0 3px 10px;
}
.quoteArea .quote {
  font-size: 24px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  /* font-weight: 600; */
}

.content .author {
  display: flex;
  font-size: 18px;
  font-style: italic;
  justify-content: flex-end;
  margin-top: 20px;
}
.author span:first-child {
  margin: -7px 5px 0 0;
  font-family: monospace;
}

.container .buttons {
  border-top: 1px solid #ccc;
}

.buttons .features {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.features ul {
  display: flex;
}
.features ul li {
  list-style: none;
  margin: 0 5px;
  cursor: pointer;
  width: 47px;
  height: 47px;
  border: 2px solid #5372f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5372f0;
  transition: all 0.3s ease;
}
.features ul li:hover {
  color: #fff;
  background-color: #5372f0;
}
.features button {
  border: none;
  outline: none;
  padding: 13px 22px;
  color: #fff;
  font-style: 16px;
  background-color: #5372f0;
  cursor: pointer;
  border-radius: 30px;
}
.loading {
  opacity: 0.7;
  pointer-events: none;
}
